{%extends "layout_new.html"%}
{%block stock_content%}
<link rel="stylesheet" href={{cdn_css | safe}} type="text/css" />
<script type="text/javascript" src={{cdn_js | safe}}></script>
<link rel="stylesheet" href="../static/css/main.css">

<div class="about">
  <div id="plot_1">
    {{script1 | safe}}
    {{div1 | safe}}
  </div>
  <div id="plot_2">
    {{script2 | safe}}
    {{div2 | safe}}
  </div>
</div>
  {%endblock stock_content%}

  {%block right_sidebar%}
  <form  method="POST" >
      <div>
        <input class="form-control" list="america_index_list" name="america_index_name"></input>
          <datalist id="america_index_list">
          <option value="^GSPC" >S&P 500</option>
          <option value="^IXIC" >NASDAQ Composite</option>
          <option value="^DJI">Dow Jones Industrial Average</option>
          <option value="^XMI">NYSE Arca Major Market Index</option>
          <option value="CBOE">CBOE Global Markets</option>
          <option value="^NDX">NASDAQ 100</option>
          <option value="IWV">RUSSELL 3000</option>
          <option value="OEF">S&P 100</option>
        </datalist>
      </div >
      <label >Start Date</label>
       <input type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="start_date_sp"></input>

       <label >End Date</label>
        <input type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="end_date_sp"></input>

       <button type="submit" class="btn btn-primary m-2"  name="action" value="submit_sp" s>Submit</button>

  </form>

<!--Create the form send to backend for companys in S&P500-->

<div id="SP_company_form">
<form method="POST" >
  <div>
    <input class="form-control" list="browers1" name="america_company_name_index">
      <datalist id="browers1">
        {% for (index,name) in america_list_company_name%}
        <option value="{{index}}">{{name}}</option>
        {% endfor %}
      </datalist>

  </div>
<!--Time input for companys in S&P 500-->
    <label>Start Date</label>
     <input type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="start_date_company"></input>

     <label>End Date</label>
      <input type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="end_date_company"></input>

 <button type="submit" class="btn btn-primary m-2" name="action" value="submit_company">Submit</button>

</form>
  {%endblock right_sidebar%}
